@import '~@angular/material/theming';

$base-primary-pallet: (
  50 : #ebebee,
  100 : #ceced4,
  200 : #adadb8,
  300 : #8c8c9c,
  400 : #737386,
  500 : #5a5a71,
  600 : #525269,
  700 : #48485e,
  800 : #3f3f54,
  900 : #2e2e42,
  A100 : #9191ff,
  A200 : #5e5eff,
  A400 : #2b2bff,
  A700 : #1212ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$base-accent-pallet: (
  50 : #fdfdfd,
  100 : #fafafb,
  200 : #f7f7f8,
  300 : #f4f4f5,
  400 : #f1f1f3,
  500 : #efeff1,
  600 : #ededef,
  700 : #ebebed,
  800 : #e8e8eb,
  900 : #e4e4e7,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
